/* -------------------Footer */
.site-footer {
    background: #fff;
    padding: 60px 0 44px 0;
    font-size: 14px;
    color: #28313b;
}

.site-footer h1, .site-footer h2, .site-footer h3,.site-footer h4 {
    font-size: 16px;
    color: #ff5912;
}

.red {
    background: red;
}

.copyright {
    margin-top: 5px;
}

ul.footer-nav a {
    color: #28313b;
    text-decoration: none;
}

ul.footer-nav a:hover {
    color: #ff5912;
}

ul.footer-nav .active {
    color: #ff5912;
}

ul.footer-nav li {
    margin-bottom: 15px;
}

.payment-img {
    width: 15px;
    height: 10px;
    background-image: url(../images/pngwing.com.png);
    /* background-color: red; */
    display: inline-block;
}

.amex {
    background-position: -10px -10px;
}

.second {
    background-position: -10px -10px;
}
.visa {
    background-position: -10px -10px;
}
.mastercard {
    background-position: -10px -10px;
}
.gray {
    background-position: -10px -10px;
}